# R created files
.Rhistory

# Custom view settings for Finder
.DS_Store

# Data Files
All4Dorms_DD_cleaned.xlsx
DD_data_allDorms_nsamuels.csv
DD_emo_data_allDorms_nsamuels.csv
DD_event_data_allDorms_nsamuels.csv
PIDRoster_All4Dorms.csv
PIDRoster_All4Dorms.xlsx
Raw_Network_Data
dd_trait_nsamuels.csv
de-ID_Network_Data/
network_nom_count_calcs.xls
network_nom_counts.csv
rinconada_fall_data_t0.csv
rinconada_spring_data_t0.csv
trait_data_allDorms_allTime_nsamuels.csv
trancos_fall_data_t0.csv
trancos_winter_data_t0.csv

# Folders
SPSP\ 2019\ Poster\ Figures/
network_maps/
university_analyses/

# Etc. 
.idea/
Ref